
.adult-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content content"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.adult-nav {
  grid-template-areas:
  "header header header"
  "nav content content"
  "footer footer footer";
  height:100%;
  display: grid;
  position: relative;
  text-align: left;
  grid-area: nav;
  align-content: center;
  background: cornflowerblue;
}

.list-img {
  max-width: 600px;
  height: 70%;
  width: 100%;
  padding: 1px;
}

main {
  grid-area: content;
  height: 99%;
}


.cont {
  border: solid black 3px;
  padding: 20px;
  width: 90%;
  height: 90%;
  display: grid;
  grid-gap: 10%;
  grid-template: 200px / auto auto auto;
}

.list-entry {
  width: 1fr;
  height: 70%;
}

.home-btn{
  top: 50%;
  height: 50px;
  margin-top: -50px; /* account for padding and border if not using box-sizing: border-box; */
  width: 90%;
  background-color: cadetblue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor:pointer; 
  font-size: 20px;  
}

.contribute-btn{
  font-size: 20px;
  top: 50%;
  height: 50px;
  margin-top: -50px; /* account for padding and border if not using box-sizing: border-box; */
  width: 90%;
  background-color: greenyellow;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor:pointer; 
}

section > div {
  height: 400px;
}

.adult-img:hover {
  opacity:0.7 !important;
}