#topLevelMain {
  height: 100%;
}

html,body {
  height:100%;
}

.grid-container {
  grid-template-columns: repeat(9, 1fr);
  display: grid;
  grid-template-areas: "header header"
                       "sidebar content"
                       "footer footer";
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 200px;
}

.header {
  grid-area: header;
  background-color: purple;
}

.footer {
  grid-area: footer;
  background-color: greenyellow;
}

.content {
  grid-area: content;
  background-color: bisque;
}

.siderbar {
  grid-area: siderbar;
  background-color: blue;
}